[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[docs]
sphinx-copybutton = "*"
sphinx-rtd-theme = "*"
