name: docs

on:
  push:
    branches:
    - main
    paths:
    - 'pypandoctemplates/**'
    - 'docs/source/**'
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
    - 'pypandoctemplates/**'
    - 'docs/source/**'
  workflow_dispatch:

concurrency:
  group: docs-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: pages_staging_environment
    strategy:
      matrix:
        python-version: ['3.11']
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Setup Python environment
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pipenv
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
    - uses: actions/cache@v3
      id: pipenv-cache
      with:
        path: ~/.local/share/virtualenvs
        key: ${{ runner.os }}-python-${{ matrix.python-version }}-pipenv-docs-${{ hashFiles('Pipfile.lock') }}
    - name: Install dependencies
      if: steps.pipenv-cache.outputs.cache-hit != 'true'
      run: |
        pipenv install --categories docs --python ${{ matrix.python-version }}
        pipenv graph

    # Build docs and deploy to GitHub Pages
    - name: Build and Commit
      uses: sphinx-notes/pages@v2
      with:
        documentation_path: docs
    - name: Push changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
